# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage/
build/
dist/

# Editor/IDE specific files
.vscode/
.idea/

# Operating System specific files
.DS_Store
Thumbs.db